/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  color: #333;
  background-color: #f0ede1;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
}

/* Typography */
h1, h2, h3 {
  font-family: "Playfair", serif;
  font-weight: 800;
  line-height: 1.3;

}

h1 {
  font-size: 58px;
  margin: 0;

}

h2 {
  font-size: 38px;
  margin-bottom: 28px;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin: 12px 0;

}

p {
  margin-bottom: 16px;

}

/* Links & Accents */
a {
  color: #4a6741;
}


.accent {
  color: #ba404f;
}
/* Images */
img {
  max-width: 100%;
}

/*Comment Layout Elements */
.header-content, .footer-content, main {
  /* max-width: 1200px; */
  margin: 0 auto;
}

header, footer {
  text-align: center;
  padding: 32px 16px;
}

header {
  padding-top: 40px;
}

.tagline {
  color: #5a5a5a;
  letter-spacing: 1px;

}

.nav-container .material-symbols-outlined {
  color: #e9bac0;

}

.nav-container {
  background-color: #ba404f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
}

.nav-container ul {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
}

.nav-container a:hover {
  color: #e9bac0;
}

ul li {
  list-style-type: none;

}

ul a {
  color: white;
  text-decoration: none;
}

/* Hero Section */
#hero-container {
  max-width: 1150px;
  margin: 0 auto;

}

.hero-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #ddd5d0;
  border-radius: 4px;
  padding: 8px;
}
/* Main Content */
main {
  padding: 0 16px;
}

section {
  margin: 0 auto;
  padding: 60px 0;
  max-width: 800px;
}

/* About Section */
.about-us {
  border-bottom: 1px solid #f2eae5;
  padding-bottom: 60px;
}


/* Specials Section */
.specials {
  max-width: 1150px;
  padding: 60px 0;
}

.specials-list {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.special-offer {
  flex: 1 1 250px;
  max-width: 350px;
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.special-offer p{
  margin-bottom: 0;
  margin-top: 6px;
}

.special-offer img {
  height: 200px;
  width: auto;
  border: 1px solid #e4deda;
  border-radius: 4px;
  padding: 8px;

}

.price-now {
  color: #e3776b;
  font-size: 20px;
  font-weight: 600;
}

.price-was {
  color: #5a5a5a;
  font-size: 14px;
  text-decoration: line-through;
}
/* Visit Us Section */

.visit-us {
  border-top: 1px solid #f2eae5;
  padding-top: 60px;
}

.contact-info {
  margin-bottom: 34px;

}

.address-block, .phone-block {
  display: flex;
  align-items: center;
  margin: 16px 0;
  

}

.address, .phone-block p {
  margin-bottom: 0;
}

.material-symbols-outlined {
  margin-right: 8px;
  color: #e3776b;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  flex: 1 1 300px;
  background-color: white;
  gap: 10px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.testimonial-content p {
  flex-grow: 1;
  font-weight: 500;
  

}
.persons-name {
  color:#2d5325;
  font-weight: 700;
}

.testimonial-content:hover {
  transform: scale(1.05);
}

iframe {
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
  background-color: #2d5325;
  color: white;
  
}

.footer-nav {
  padding: 0;
}

.footer-nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  padding: 0;
}

@media (max-width: 600px) {
  .nav-container ul, .footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .footer-nav ul {
    padding-bottom: 40px;
  }

}

@media (max-width: 1024px) {
  .footer-content {
    display: flex;
    gap: 25px;
    flex-direction: column;
  }
}
